.component-library {
  .library-category {
    margin-bottom: 20px;
  }
  .library-category-title {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    user-select: none;
  }
  .library-item {
    border-radius: 4px;
    padding: 0 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .library-item:hover {
    background: #1890ff;
    color: #fff;
    .library-item-overlay {
      display: flex;
    }
  }
  .library-item-overlay {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: 200;
  }
}
