.component-data-settings {
  .settings-group {
    margin-bottom: 20px;
  }
  .settings-group-title {
    user-select: none;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .anticon {
      cursor: pointer;
    }
  }
}
